html body {
  padding: 0;
  margin: 0;
  /* height: 100vh; */
  background-color: black;
}


.arrow-img {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  transition: box-shadow 0.25s ease-in-out;
  margin: 5px;
}

.arrow-img:hover {
  box-shadow: 0 0 20px 1px white;
}

.App {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.page{
  background-color: transparent;
}

.swal2-popup, .swal2-modal, .swal2-show{
  background-color: red;
  border: solid 3px red;;
}


.App>*:first-child {
  height: 87vh;
}
@media (max-width: 600px) {
}

@media (min-width: 315px) {
  .arrow-img {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: box-shadow 0.25s ease-in-out;
    margin: 5px;
  }
}


/* div{
  border: solid 1px rgba(255,0,0,0.7);
} */