.Topbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
  }

  .Topbar > img {
    max-width: 50px;
  }

  .Topbar > h2 {
    font-family: highwayGothic;

  }